<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Java/Server/Back-end Developer.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/tmon_logo.png"
                                 alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>티몬</h4>
                                <h5 class="subheading">2019.09.09~현재 재직중</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">서비스개발실/서비스개발2팀 사원</p>
                                <p class="text-muted">담당업무 : 쿠폰/할인 서비스 개발</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/ksign_logo.png"
                                 alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ksign</h4>
                                <h5 class="subheading">2016.02.15~2019.02.28</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">DB보안개발팀 주임연구원</p>
                                <p class="text-muted">담당업무 : 솔루션 개발</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/sku_logo.png"
                                 alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>서경대학교</h4>
                                <h5 class="subheading">2011.03~2016.02</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">컴퓨터과학과 졸업</p>
                                <p class="text-muted">졸업작품 : Smart Museum Management System</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/ehwa_logo.png"
                                 alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>이화여대병설미디어고등학교</h4>
                                <h5 class="subheading">2008.03~2011.02</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">인터넷 미디어과 졸업</p>
                            </div>
                        </div>
                    </li>
                    <!--<li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>-->
                    <!--<li class="timeline-inverted">-->
                        <!--<div class="timeline-image">-->
                            <!--<h4>Be Part-->
                                <!--<br>Of Our-->
                                <!--<br>Story!</h4>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</section>